{% extends 'base.html' %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="body-content">
	<h1 class="text-center">Stuff goes here</h1>
</div>
<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="team" name="team">
<br>
	<div class="row white centered">
		<h3 class="centered">Star Tutors</h3>
		<hr>
		<br>
		<div class="col-lg-3 centered">
			<img class="img img-circle" src="{{ url_for('static', filename='images/team01.jpg') }}" height="150px" width="150px" alt="">
			<br>
			<h4><b>Mike Arney</b></h4>
			<h5><b>Blah Blah</b></h5>
		</div><!-- col-lg-3 -->
		
		<div class="col-lg-3 centered">
			<img class="img img-circle" src="{{ url_for('static', filename='images/team02.jpg') }}" height="150px" width="150px" alt="">
			<br>
			<h4><b>Tim Davies</b></h4>
		</div><!-- col-lg-3 -->
		
		<div class="col-lg-3 centered">
			<img class="img img-circle" src="{{ url_for('static', filename='images/team03.jpg') }}" height="150px" width="150px" alt="">
			<br>
			<h4><b>Michele Lampa</b></h4>
		</div><!-- col-lg-3 -->
		
		<div class="col-lg-3 centered">
			<img class="img img-circle" src="{{ url_for('static', filename='images/team04.jpg') }}" height="150px" width="150px" alt="">
			<br>
			<h4><b>Jaye Smith</b></h4>
		</div><!-- col-lg-3 -->
		
	</div><!-- row -->
</div><!-- container -->
{% endblock %}